# Binaries
**/bin/
bin-int/

# Rosefiles
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Directories
RoseRoot/vendor
RoseRoot/vendor/VulkanSDK
RoseStem/assets/cache
scripts/__pycache__