# Binaries
**/bin/
bin-int/

# Rosefiles
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Directories
RoseRoot/vendor/spdlog/
RoseRoot/vendor/glm/
RoseRoot/vendor/Box2D/
RoseRoot/vendor/GLFW/
RoseRoot/vendor/VulkanSDK
RoseStem/assets/cache
scripts/__pycache__